<ion-header>
  <ion-toolbar>
    <ion-title>list-products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">

<!--
<ion-nav-link routerDirection="forward">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-nav-link>
-->
<!--
  <ion-router-outlet></ion-router-outlet>
-->
    <cdk-virtual-scroll-viewport itemSize="200" [minBufferPx]="1000" [maxBufferPx]="1000" class="ion-content-scroll-host cdk-virtual-scroll-viewport">
      <app-product-view 
        *cdkVirtualFor="let p of listOfProducts" 
        [product]="p" 
        (editEvent)="edit($event)" 
        (delEvent)="delete($event)">
      </app-product-view>
    </cdk-virtual-scroll-viewport>
  
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
  
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="onAddProduct()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

</ion-content>

<!--
 Created by Salo417 (GitHub/email: schooldayssal@gmail.com) at Apr-13-2023 following above clause:
  
 BSD 3-Clause License
 
 Copyright (c) 2023, Salo417 (GitHub/email: schooldayssal@gmail.com)
 
 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
 
 1. Redistributions of source code must retain the above copyright notice, this
    list of conditions and the following disclaimer.
 
 2. Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.
 
 3. Neither the name of the copyright holder nor the names of its
    contributors may be used to endorse or promote products derived from
    this software without specific prior written permission.
 
 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->