<ion-list>
    <ion-item>
        <ion-label>Nombre del producto: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Plataforma: </ion-label>
        <ion-select placeholder="Seleccionar">
            <ion-select-option value="EPlatforms.PLAY_STATION_4">PlayStation 4</ion-select-option>
            <ion-select-option value="EPlatforms.PLAY_STATION_5">PlayStation 5</ion-select-option>
            <ion-select-option value="EPlatforms.XBOX_360">Xbox 360</ion-select-option>
            <ion-select-option value="EPlatforms.XBOX_ONE">Xbox One</ion-select-option>
            <ion-select-option value="EPlatforms.SWITCH">Nintendo Switch</ion-select-option>
            <ion-select-option value="EPlatforms.PC">PC</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Precio: </ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Fecha de lanzamiento: </ion-label>
        <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Stock: </ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item id="description">
        <ion-label>Descripción: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
</ion-list>
